<h1>About Us</h1>

<h4>Quality Products...we hope</h4>
<p>At Jungle, we sell randomly generated products from all around the world. Enjoy our expertly designed user interface to effortlessly
  browse our selections.
</p>
<p>Except not really, this is a testing app for training Ruby/Rails developers. This guy did a pretty amazing job, right?</p>
